# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
ENV/
env/
.venv/

# SQLite database files
*.db

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debug files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python specific
*.egg-info/
dist/
build/
